/* 輪播區範圍 */
#homeP_carousel {
    width: 100%;
}

/* 輪播圖片區 */
.carousel-item>img {
    padding: 40px 0px 50px 0px;
    margin: 0 auto;
    width: 90%;
}

/* 輪播選擇器顏色調整 */
.carousel-indicators li {
    background-color: black;
}

/* 前後播放鍵變色 */
.carousel-control-prev-icon,.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    color: blue;
}

@media only screen and (max-width: 600px) {
    /* 輪播圖片區 */
    .carousel-item>img {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
/* 輪播圖片區 */
    .carousel-item>img {
        padding: 40px 0px;
        width: 90%;
    }
}