/* toolBanner */
.btn-group {
    width: 100vw;
}

/* 超連結修改 */
.aChange {
    color: black;
}

.aChange:hover {
    color: blanchedalmond;
    font-weight: bold;
}

/* footerBanner */
.footerBanner {
    width: 100%;
    padding: 10px;
    background-color: rgb(143, 143, 255);
}

/* footerLink */
.footerTr>td {
    border-right: 2px solid sienna;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
}

/* 下方連結列第一個邊線關閉 */
.footerTr>td:nth-of-type(1){
    border: none;
}

/* 下方連結列第二個左邊邊線顯示 */
.footerTr>td:nth-of-type(2){
    border-left: 2px solid sienna;
}

/* 隱藏 FB 和 QR code的邊線 */
.footerTr>td:nth-of-type(7) {
    border-right:none;
}

/* footerLogo */
#footerLogo{
    width: 200px;
    margin: 0px 0px 0px 5px;
}

/* footerBannerSmall */
.footerSmall {
    background-color: rgb(131, 128, 109);
    width: 100%;
    padding: 10px;
}

/* 讓td置中 */
.footerSmall table{
    margin: auto;
}

/* 設定td樣式 */
.footerStr>td {
    border-right: 2px solid sienna;
    padding: 0px 10px;
    width: 20%;
    text-align: center;
}

/* 小footer第一個左邊邊線顯示 */
.footerStr>td:nth-of-type(1) {
    border-left: 2px solid sienna;
}

/* footerLogoSmall */
#footerLogoSmall {
    width: 200px;
    margin: 10px 0px 0px 0px;
}

/* footer FB logo */
#fbLogo{
    width:32px;
}

/* footer QR Code */
#qrCode{
    width: 32px;
}

/* 隱藏小footer */
#footerDis {
    display: none;
}

/* 螢幕小於600 隱藏大footer 顯示小footer */
@media only screen and (max-width: 600px){
    .footerBanner {
        display: none;
    }

    #footerDis {
        display: initial;
    }

    /* footer QR Code */
    #qrCode{
        margin: 0 0 0 10px;
    }
}

/* 螢幕小於1000 大於600 隱藏大footer 顯示小footer */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .footerBanner {
        display: none;
    }

    #footerDis {
        display: initial;
    }

    /* footer QR Code */
    #qrCode{
        margin: 0 0 0 15px;
    }
}